-i https://pypi.org/simple/
appdirs==1.4.4
certifi==2020.12.5
distlib==0.3.1
filelock==3.0.12
importlib-metadata==3.7.3 ; python_version < '3.8'
pbr==5.5.1
pipenv-to-requirements==0.9.0
pipenv==2020.11.15
six==1.15.0
typing-extensions==3.7.4.3 ; python_version < '3.8'
virtualenv-clone==0.5.4
virtualenv==20.4.3
zipp==3.4.1
